## Distancias

In [1]:
from scipy.spatial import distance_matrix
import pandas as pd

In [3]:
data=pd.read_csv("archivos/peliculas.csv", sep=";")
data

   user_id  star_wars  lord_of_the_rings  harry_potter
0        1        1.2                4.9           2.1
1        2        2.1                8.1           7.9
2        3        7.4                3.0           9.9
3        4        5.6                0.5           1.8
4        5        1.5                8.3           2.6
5        6        2.5                3.7           6.5
6        7        2.0                8.2           8.5
7        8        1.8                9.3           4.5
8        9        2.6                1.7           3.1
9       10        1.5                4.7           2.3