## K narest neighbours

In [43]:
## librerías necesarias
import numpy as np
import pandas as pd
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import train_test_split

In [111]:
df=pd.read_csv("archivos/cancer.csv", header=None)
df.head(5)

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [45]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

Si nos faltará algún valor es necesario poner un valor muy negativo para que no afecté a los grupos

In [112]:
## renombramos las columnas
df.columns=["name", "V1", "V2","V3","V4","V5","V6","V7","V8","V9","class"]
df

        name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0    1000025   5   1   1   1   2   1   3   1   1      2
1    1002945   5   4   4   5   7  10   3   2   1      2
2    1015425   3   1   1   1   2   2   3   1   1      2
3    1016277   6   8   8   1   3   4   3   7   1      2
4    1017023   4   1   1   3   2   1   3   1   1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
694   776715   3   1   1   1   3   2   1   1   1      2
695   841769   2   1   1   1   2   1   1   1   1      2
696   888820   5  10  10   3   7   3   8  10   2      4
697   897471   4   8   6   4   3   4  10   6   1      4
698   897471   4   8   8   5   4   5  10   4   1      4

[699 rows x 11 columns]

In [113]:
## borramos la columna name
df=df.drop(["name"], 1)

In [114]:
df.replace("?", -99999, inplace=True)

In [82]:
df.head(5)

   V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [115]:
## separamos las variables
Y=df[["class"]]
X=df[["V1", "V2","V3","V4","V5","V6","V7","V8","V9"]]

Se trata de predecir si el tumor es malo o si necesita ser operado, de acuerdo a la clase de tumor existente tales el tumor de clase 4 es aquél que debe ser operado

## Clasificador de K vecinos

In [116]:
## validación cruzada
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [119]:
## creamos el módelo
clf= neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

c:\Users\Golfa\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier()

In [120]:
## saber que tan bien han sido los datos
accuracy=clf.score(X_test, Y_test)
accuracy

0.9714285714285714

#### Clasificación sin limpieza

In [94]:
df=pd.read_csv("archivos/cancer.csv", header=None)
## quitamos datos con valor ?
df.replace("?", -999999, inplace=True)
## renombramos las columnas
df.columns=["name", "V1", "V2","V3","V4","V5","V6","V7","V8","V9","class"]
## separamos las variables
Y=df[["class"]]
X=df[["name","V1", "V2","V3","V4","V5","V6","V7","V8","V9"]]
## validación cruzada
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

## creamos el módelo
clf= neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)


## saber que tan bien han sido los datos
accuracy=clf.score(X_test, Y_test)
accuracy

c:\Users\Golfa\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.6428571428571429

### Conclusión
Vemos una disminución en el grado de acertividad, si solo proporcionamos los datos sin algún tipo de analizis se puede ver que el nombre dado directamente como información generá un cambio en el resultado

## Clasificar nuevos datos

In [166]:
## intentaremos clasificar una persona que realizo las 9 pruebas
sample_measure = np.array([5,4,2,1,1,1,2,3,2])
sample_measure = sample_measure.reshape(1,-1)
predict = clf.predict(sample_measure)
predict

array([2], dtype=int64)

In [168]:
sample_measure2 = np.array([[5,4,2,1,1,1,2,3,2], [2,2,4,4,2,2,6,2,4]]).reshape(2,-1)
predict = clf.predict(sample_measure2)
predict

array([2, 2], dtype=int64)